.modal {
    span {
        display: block;
        position: absolute;
        right: 10px;
        top: -18px;
        color: #c4c4c4;
        font-size: 4em;
        transform: rotate(45deg);
        cursor: pointer;
    }
}