.gallery {
    display: grid;
    margin: 114px auto;
    width: 100vh;
    justify-content: center;

    grid: {
        template: {
            columns: repeat(3, 1fr);
        }
        gap: 20px;
    }
}